@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-playfair);
  }

  body {
    font-family: var(--font-inter);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .font-serif {
    font-family: var(--font-playfair);
  }

  .font-sans {
    font-family: var(--font-inter);
  }
}
